    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../src/css/style.css">
        <title>PaperNet</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a>Logo</a></li>
                <li><a href="#" class="active-link">PaperNet</a></li>
                <li><a>Profile</a></li>
            </ul>
        </nav>

            <main>
                <h1>Hello</h1>
                <div class="add-entry" style="text-align: center;" onclick="">
                    <h2>+</h2>
                    <h4>Add new entry</h4>
                </div>
            </main>
    </body>
    </html>