@font-face {
    font-family: NeueMontreal-Regular;
    src: 
        local(NeueMontreal-Regular),
        url(../fonts/NeueMontreal-Regular.otf) format("opentype");
}
body {
    margin: 0;
    font-family: 'NeueMontreal-Regular';
    padding-top: 60px;
    padding: 100px;
    background-color: #000000;
    /* background-image: url("../../static/images/background.png"); */
    /* background-image: url("{{ url_for('static', filename='images/background.png') }}"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    color: yellow;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    background-color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 60px; 
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: yellow;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    font-family: 'NeueMontreal-Regular', sans-serif;
    padding: 10px 15px;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 100px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a.active-link {
    background-color: yellow;
    color: rgb(0, 0, 0);
}
nav ul li a:hover {
    background-color: yellow;
    color: rgb(0, 0, 0) ;
}

.add-entry {
    background-color: rgba(255, 255, 0, 0.457);
    color: #000;
    border-radius: 10px;
    padding: 5px;
    
}